*{
    font-family: 'Droid Sans Mono', monospace;
	padding: 0;
	margin: 0;
}
.aPie{
    color: white;
}
body{
	height: 100%;
    align-content: space-around;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #F0F4FF;
    min-width: 800px;
}
.divCabecera{
    border-top: 20px solid #0A637F;
    height: 10%;
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.aLogo{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    width: 400px;
    text-align: center;
    flex-flow: column;
    font-variant: small-caps;
}
.divLogo{
    height: 60px;
    background-color: #0A637F;
    text-shadow: 1px 1px 1px #F0F4FF;
}
.triangulo {
     width: 0; 
     height: 0; 
     border-right: 60px solid #F0F4FF;
     border-top: 60px solid #0A637F;
}
.menu{
    width: 60%;
    flex-flow: column;
    text-align: right;
}
.divMod{
    flex-flow: column;
    text-align: center;
}
#contenedor{
	height: 80%;
    display: flex;
    flex-flow: row;
    display: flex;
}
.colOpciones{
    height: 100%;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    width: 25%;
}
.contenido{
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    width: 75%;
}
.contenedorMsj{
    margin-left: 7rem;
    width: 700px;
}
.contenedorForm{
    margin-left: 10rem;
}
.divCRUD{
    border-radius: 0.2rem;
    height: 250px;
    width: 500px;
    padding: 1rem;
    background-color: #BECCAB;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
}
.divReadRes{
    margin-left: 10rem;
    text-align: center;
    border-radius: 0.2rem;
    height: 500px;
    width: 600px;
}
.panelScroll{
    background-color: white;
    border-radius: 0.2rem;
    max-height: 350px;
    overflow: auto; 
}
input, select{	
	margin: 0.5rem;
}
footer{	
	background-color: #0A637F;
    color: white;
    font-size: 0.8rem;
	height: 10%;
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cabTabla{
    position: static;
    color: white;
    background-color: #0A637F;
    border-bottom: none;
}
tr{
}
td{
    border-bottom: solid 1px #EBE5FF;
    text-align: center;
    padding: 0.2rem;
}
.filaTabla{
    background-color: #EEECF5;
}
.filaTabla:nth-child(odd){
    background-color: #F8F6FF;
}
 .colTabla{
    text-align: left;
 }
 .colTabla:first-of-type {
    text-align: right;
 }

.tdCRUD_Izq{
    width: 100%;
    font-size: 0.8rem;
    color: #546F7F;
    text-align: right;
    border: none;
}
.tdCRUD{
    font-size: 0.8rem;
    color: #546F7F;
    text-align: right;
    border: none;
}
.aviso{
    color: #B25648;
    font-size: 0.8rem;
}
input[type='text'], input[type='password']{
    text-align: center;
}
input[type='submit'], input[type='reset'],.aCancelar, .aOK{
    border: solid 1px #BABABF;
    border-radius: 0.1rem;
    font-size: 0.8rem;
    padding: 0.15rem;
    background-color: #DFE0E5;
    text-decoration: none;
    color: black;

}
input[type='submit']:hover, input[type='reset']:hover, .aCancelar:hover, .aOK:hover{
    background-color: #EBF6FF;
    border: solid 1px #5E687F;
}
select{
    text-align: center;
    width: 10rem;
}
.selectSmall{
    margin: 0;
    text-align: center;
    width: 8rem;
}

.textCRUD{
    width: 10rem;
}

p{
    color: #546F7F;
}
a{
    color: #B2AA48;    
}
.a--update{
    color: grey;
    text-decoration: none;
}
.a--update:hover{
    text-decoration: underline;
}
.a--delete{
    color: darkred;
    text-decoration: none;
}
.a--delete:hover{
    text-decoration: underline;
}
.cierraForm{
    float: right;
}
.aCierraForm{
    font-size: 1.2rem;
    text-decoration: none;
    color: #546F7F;
    padding: 0.15rem;
    padding-top: 0;
    border: solid 1px #BABABF;
    background-color: #DFE0E5;
}
.aCierraForm:hover{
    background-color: #EBF6FF;
    border: solid 1px #5E687F;
}
.aCierraForm:active{
    background-color: #EBF6FF;
    border: solid 1px #5E687F;
}
h1{
    color: #0A637F;
}
.tdIzqDivMod{
    height: 50px;
    width: 55%;
    text-align: right;
}
.tdDerDivMod{
    text-align: left;
}
.divMod{
    width: 100%;
}
.divNomUsuario{
    width: 100%;
}

/* MENU */

.menu--barra-principal--entrada {
    position:    relative;
    list-style:  none;
    
    display:     inline-block;
    padding:     20px 0px;
    margin:      0px 40px;
}

/*---------------
  $ELEMENTOS
-----------------*/

.submenu
{
    position:   absolute;

    z-index:    2;     /* en el caso que el submenú se solape con otros elementos quede por encima de ellos */
    list-style: none;
    
    /* El ancho que le pondremos dependerá de lo que contengan los submenús. Lo que pongamos en la propiedad margin-left será la mitad de lo que hayamos puesto aquí */
    width:      100px;
    text-align: center;
    
/* Para centrar el submenú con respecto a la opción de menú, pondremos su parte izquierda en la mitad del ancho y le restaremos a los márgenes la mitad del ancho que hayamos puesto anteriormente */
    left:        50%;
    margin-left: -50px;
    
/* el valor de la propiedad top dependerá de lo que contengan las opciones de menú principales, pondremos un valor adecuado para que el submenú se muestre debajo. */
    top:25px;
  
    font-size:   0.9rem;
    
    /* submenú quede oculto. Animaremos la propiedad height */
    height:0px;
    overflow:hidden;
    
    transition:height 0.4s linear;
}

.submenu--entrada
{
    background-color: #546F7F; 
}

.submenu--entrada:nth-child(odd) 
{ 
    background-color: #0A637F; 
} 

.submenu--entrada:hover 
{ 
    background-color: #BECCAB;
}

/* cuando pasemos por li, cambiamos las propiedades de ul */
.menu li:hover ul 
{
    height:200px; 
}

/* con esto redondearemos las esquinas del submenú, además de colocarlo debajo de la opción de menú correspondiente */
.submenu--entrada:first-child 
{ 
    border-radius:  3px 3px 0 0;
   
    /* Lo que pongamos como margen superior, deberá coincidir con lo que hemos puesto en el top del ul */
    margin-top:     25px;
    
    /* indicamos posición relativa para poder introducir luego el triángulo del menú desplegable con posición absoluta */
    position:       relative;
}

.submenu--entrada:last-child {
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

/* Triangulo en la parte superior */
.submenu--entrada:first-child:before {
    content:'';
    position:absolute;
    
    width:1px;

    height:1px;
    border:5px solid transparent;
    border-bottom-color: #313131;
    left:50%;
    top:-10px;
    margin-left:-5px;
}


.menu--barra-principal--entrada a{
    color: black;
    text-decoration: none;
}

/* Aquí configuraremos la visualización de los enlaces del menú desplegable */
.submenu--entrada a{
    color:#fff;
    padding:12px;
    text-decoration:none;
    display:block;
}
.submenu--entrada a:hover{
    color:black;
    padding:12px;
    text-decoration:none;
    display:block;
}